$primary: #409EFF !default;
$success: #67C23A !default;
$warning: #E6A23C !default;
$danger: #F56C6C !default;
$info: #909399 !default;
$default: none !default;
$light-white: #fff9f2 !default;
$clare: #4e6e8e !default;
$item: #444 !default;


$plain-primary: #e2edf8 !default;
$plain-success: #f0f9eb !default;
$plain-warning: #fbf3e6 !default;
$plain-danger: #f6dcdc !default;
$plain-info: #e2e8f4 !default;

$colorList: (
    primary: $primary,
    success: $success,
    warning: $warning,
    danger: $danger,
    info: $info,
    default: $default,
);
$plain-colorList: (
    plain-primary: $plain-primary,
    plain-success: $plain-success,
    plain-warning: $plain-warning,
    plain-danger: $plain-danger,
    plain-info: $plain-info,
);


$border-base-color: #e2dede !default;
$border-deep-color: #c0d2e3 !default;
$title-base-color: #2c3e50 !default;
$describe-base-color: #6a8bad !default;
$scrollbar-base-color: #1b8bf3 !default;
$footer-base-color : #e8e5e5 !default;

$table-th-background-color: #fafafa !default;
$table-th-color: #646468 !default;
$table-tr-color: #646468 !default;
$table-td-color: #646468 !default;

$font-size-base: 16px !default;
$font-size-default: 16px !default;
$font-size-sm: 12px !default;
$font-size-md: 16px !default;
$font-size-ml: 20px !default;
$font-size-lg: 24px !default;
$font-size-xl: 28px !default;


$sizeList:(
    default: $font-size-default,
    sm : $font-size-sm,
    md: $font-size-base,
    ml: $font-size-ml,
    lg: $font-size-lg,
    xl: $font-size-xl
)
